@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>
    "Thanks!", "Thanks for your order! We will contact you for more information", "success"
</h1>-----
<small class="text-success font-weight-bolder">Manager: Vegebasket</small>     <p></p>
<a type="button"   class="text-success btn btn-outline-success" asp-action="Index" asp-controller="Home">Go back to Home Page</a></h6>